__pycache__/
tests/__pycache__/
*.py[cod]
.pytest_cache/
dist/
publish/
*.build
*.buildinfo
*.changes
*.deb
*.debian.tar.xz
*.dsc
*.tar.xz
*.upload
.pc/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/bhipconfig/
debian/*.debhelper.log
debian/*.substvars
